* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url(./images/3418448.jpg); 
  }
  
  .firefly-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
  }
  
  .firefly {
    position: absolute;
    display: block;
    width: 4px;
    height: 4px;
    background-color: #c7ed09;
    border-radius: 60%;
    pointer-events: none;
    animation: flicker 2s infinite, moveAround 10s infinite linear;
  }
  
  @keyframes flicker {
    0% {
      opacity: 0.6;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.6;
    }
  
  }
  
  @keyframes moveAround {
    0% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(20px, 20px);
    }
    50% {
      transform: translate(40px, -20px);
    }
    75% {
      transform: translate(-20px, 40px);
    }
    100% {
      transform: translate(0, 0);
    }
  }


.logo {
    font-size: 30px;
    color: azure;
    text-decoration: none;
    font-weight: 600;
}

.logo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:  rgb(53, 8, 97);
    animation: showRight 1s ease forwards;
    animation-delay:  0.4s;
}

@keyframes showRight {
    100% {
        width: 0;

    }

}

	
.header {
    background: rgb(53, 8, 97);
    position: fixed;
    font-size: 40px;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar a {
    color: azure;
    font-size: 18px;
    font-weight: 500;
    margin-left: 40px;
    text-decoration: none;
    transition: 1s ease;
}

.navbar a.active {
    color:rgb(237, 222, 7);
    font-size: 25px;

}

.navbar a:hover {
    color: rgb(84, 7, 237);
    transform: scale(1.2);
}

.home {
    display: flex;
    align-items: center;
    height: 84.9vh;
    padding: 0 10%;

}

.home-img {
    float: left;
    width: 531px;
    height: 470px;
    margin-top: 80px;
    background: transparent;
    border-radius: 5%;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 1);
}


.home-content {
    max-width: 1000px;
    margin-top: 40px; 
}

.home-content h1 {
    position: relative;
    font-size: 56px;
    font-weight: 700;
    margin: 0;
    color: azure;
    margin-left: 50px;
}

.home-content h1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(64, 26, 103,1);
    animation: showRight 1s ease forwards;
    animation-delay:  0.8s;
}

.home-content h3 {
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: rgb(237, 222, 7);
    margin-left: 50px;
}

.home-content h3::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(64, 26, 103,1);
    animation: showRight 1s ease forwards;
    animation-delay:  1s;
}


.home-content p {
    position: relative;
    font-size: 20px;
    line-height: 30px;
    margin: 40 0 20px;
    color: azure;
    margin-left: 50px;
}

.home-content p::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(64, 26, 103,1);
    animation: showRight 1s ease forwards;
    animation-delay:  1.3s;
}

.spirit-animal {
    display: flex;
    align-items: center;
    height: 87.1vh;
    padding: 0 10%;
    color: azure;
    overflow: auto;
}

.spirit-animal-img {
    float: right;
    margin-top: 50px;
    width: 531px;
    height: 470px;
    background: transparent;
    border-radius: 5%;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 1);
}

.spirit-animal-content {
    max-width: 1200px; 
    margin-top: 40px;
}

.spirit-animal-content h1 {
    position: relative;
    font-size: 56px;
    font-weight: 700;
    color: rgb(237, 222, 7);
    margin-top: 80px;
    overflow: hidden;
}

.spirit-animal-content h1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(64, 26, 103,1);
    animation: showRight 1s ease forwards;
    animation-delay:  0.8s;
}


.spirit-animal-content p {
    position: relative;
    font-size: 25px;
    line-height: 30px;
    margin: 40 0 20px;
    color: azure;
    overflow: hidden;
}

.spirit-animal-content p::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(64, 26, 103,1);
    animation: showRight 1s ease forwards;
    animation-delay:  1s;
}

.hobbies-content {
    max-width: 1200px;
    margin-top: 80px;
    flex-direction: column;
    display: flex;
    height: 76.9vh;
    padding: 0 10%;
    color: azure;
    overflow: auto;
}

.hobbies-content h1 {
    position: relative;
    font-size: 56px;
    font-weight: 700;
    color: rgb(237, 222, 7);
    margin-top: 100px;
}
.hobbies-content h1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(64, 26, 103,1);
    animation: showRight 1s ease forwards;
    animation-delay:  0.8s;
}

.hobbies-content p {
    position: relative;
    font-size: 25px;
    line-height: 30px;
    color: azure;
}

.hobbies-content p::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(64, 26, 103,1);
    animation: showRight 1s ease forwards;
    animation-delay:  1s;
}

.hobbies-list {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    font-size: 25px;
    line-height: 30px;
    word-spacing: 0.5px;
}

.contact {
    display: flex;
    max-width: 1200px;
    margin-top: 80px;
    flex-direction: column;
    display: flex;
    padding: 0 10%;
    color: azure;
    height: 76.9vh;
}

.contact-content {
    margin-top: 80px;
    max-width: 1200px;
}

.contact-content h1 {
    position: relative;
    font-size: 56px;
    font-weight: 700;
    color: rgb(237, 222, 7);
    margin-top: 20px;
}

.contact-content h1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(64, 26, 103,1);
    animation: showRight 1s ease forwards;
    animation-delay:  0.8s;
}

.contact-content p {
    position: relative;
    font-size: 25px;
    line-height: 30px;
    color: azure;
}

.contact-content p::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(64, 26, 103,1);
    animation: showRight 1s ease forwards;
    animation-delay:  1s;
}

.contact-content ul {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    font-size: 25px;
    line-height: 30px;
    word-spacing: 0.5px;
}

.about {
    display: flex;
    height: 87.1vh;
    padding: 0 10%;
    color: azure;
    overflow: auto;
}

.about-content {
    max-width: 1200px;
}

.about-content h1 {
    position: relative;
    font-size: 56px;
    font-weight: 700;
    color: rgb(237, 222, 7);
    margin-top: 180px;
}

.about-content h1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(64, 26, 103,1);
    animation: showRight 1s ease forwards;
    animation-delay:  0.8s;
}
.about-content p {
    position: relative;
    font-size: 25px;
    line-height: 30px;
    word-spacing: 0.5px;
    color: azure
}

.about-content p::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(64, 26, 103,1);
    animation: showRight 1s ease forwards;
    animation-delay:  1s;
}

footer {
    background: rgb(53, 8, 97);
    min-height: 100px;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-text {
    display: flex;
    margin-left: 50%;
    margin-right: 50%;
    justify-content: center;
    justify-content: space-evenly;
}

.footer-text a {
    color: rgb(237, 222, 7);
    width: 40px;
    height: 40px;
    margin-left: 25px;
    background: transparent;
    border-radius: 50%;
    font-size: 40px;
    text-decoration: none;
    transition: 1s ease;
}

 .footer-text a:hover {
    color: rgb(84, 7, 237);
    transform: scale(1.2);
}

#copyright {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    display: flex;
    color: azure;
    text-align: center;
    justify-content: center;
}
